@import url(https://fonts.googleapis.com/css?family=Roboto);


*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --mainColor: #8B0000;
    --textColor: #eee;
    --secondaryTextColor: #000;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    left: 0;
}
.HeaderClass{
    padding-top: 10px;
    align-items: center;
}

header div h2 {
    display: flex;
    background-color: var(--mainColor);
    width: 100%;
    height: 70px;
    top: 180px;
    align-items: center;
    
}

nav a {
    color: #000;
    text-decoration: none;
    justify-content: space-between;
    padding: 0 2rem;
    left: 0; 
}

header h2 {
    color: var(--textColor);
}