@import url(https://fonts.googleapis.com/css?family=Roboto);


*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --mainColor: #007c7d;
    --textColor: #eee;
    --secondaryTextColor: #000;
}

.HeaderClass nav{
    display: flex;
    background-color: var(--mainColor);
    align-items: center;    
    justify-content: space-between;
    padding: 0 7rem 0 1rem;
    
}

ul li{
    display: inline;
    padding: 0 2rem;
}

a{
    text-decoration: none;
    color: var(--textColor);
}
