@import url(https://fonts.googleapis.com/css?family=Roboto);


*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --mainColor: #900009;
    --textColor: #eee;
    --secondaryTextColor: #000;
}

.HeaderClass nav{
    display: flex;
    background-color: var(--mainColor);
    align-items: center;    
    justify-content: space-between;
    padding: 1rem 7rem 1rem 1rem;
    
}

ul li{
    display: inline;
    padding: 0 2rem;
}

h2 a {
    text-decoration: none;
    color: var(--textColor);
    font-weight: 900;
}

li a{
    text-decoration: none;
    color: var(--textColor);
    font-weight: 500;
}
